/* General Styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #1e1e2d;
    color: white;
    margin: 0;
    padding: 0;
    transition: background 0.5s;
}

h1 {
    margin: 20px 0;
    color: #f39c12;
    font-size: 2.5em;
}

button {
    padding: 10px 20px;
    margin: 20px 0;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background: #f39c12;
    color: white;
    transition: background 0.3s;
}

button:hover {
    background: #e67e22;
}

.inline-group {
    margin: 20px 0;
}

.complexity-group {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
}

#password {
    margin: 20px 0;
    padding: 10px;
    border: 2px solid #f39c12;
    display: inline-block;
    background: #2c2c3d;
    max-width: 80%;
    word-wrap: break-word;
    border-radius: 10px;
    position: relative;
    font-size: 1.2em;
}

.copy-icon {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    font-size: 1.2em;
    vertical-align: middle;
    transition: color 0.3s;
}

.copy-icon:hover {
    color: #f39c12;
}

.password-text {
    display: inline-block;
    vertical-align: middle;
    word-break: break-word;
    max-width: calc(100% - 30px);
}

#security-tip {
    color: yellow;
    font-size: 1em;
    padding: 10px;
    background: #333;
    border: 1px solid #f39c12;
    border-radius: 10px;
    margin-top: 20px;
}

.dark-mode-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    background: #f39c12;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.tooltip {
    visibility: hidden;
    background: #333;
    color: white;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.copy-icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.complexity-group label:first-child {
    display: none; /* Remove Select Options Heading */
}

@media (prefers-color-scheme: dark) {
    body {
        background: #1e1e2d;
        color: white;
    }
}
